.hero{
    position: relative;
    

}

.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);
}
.hero-caption{
    position: absolute;
     top: 50%;
    padding-left: 6%;
    bottom: 2px;
   transform: translateY(-50%);
}
.imgbtn{
    width: 50px; /* Make the image fill the button horizontally */
    height: 30px ;
}
.hero-caption p{
    font-size: 20px;
    font-weight: 500;
    max-width: 300px;
    margin-bottom: 10px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    max-width: 400px;
   
    
}
.hero-btns .btn .btn-dark img{
    width: 40px;

    

}
.hero-btns .btn{
    border: 0;
    outline: 0;
  display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    background: rgb(108, 104, 104);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(249, 247, 245);
}
.hero-btns .btn:hover{
   
    background: #ffffffbf;
}
.btn-dark{
    background: #6d6d6eb3;
    font-size: 20px;
    color: #fff;
    border-radius: 10px
   
}
.hero-btns .btn-dark:hover{
    background: #ffffffbf;
}
